@import 'mixins';
@import 'variables';

@import '../../box';

.box-header {
    @include box-header;
}

.box-content {
    @include box-content;
}

.param {
    background: rgba(darken($colour-light,10), 0.5);

    font-size: 1.3rem;

    &-header {
        height: 2.5rem;
        font-size: 1.6rem;
    }

    &-info {

    }
}
