<section class="row mt-3 box">
        <header class="col-auto mr-2 h-100 box-header">
            <span>Info</span>
        </header>
        <main class="col d-flex flex-column justify-content-start h-100 p-4 box-content">
            <div class="row">
                <div class="col">
                    In this section you can edit various parameters that affect how the simulation will run. Click on the symbol to learn more about what a certain parameter does.
                </div>
            </div>
        </main>
</section>

<section class="row mt-3 box">
        <header class="col-auto mr-2 h-100 box-header">
            <span>Ambulance</span>
        </header>
        <main class="col d-flex flex-column justify-content-start h-100 p-4 box-content">
            <div class="row">
                <div class="col col-md-6">
                    Test
                </div>
                <div class="col col-md-6">
                    Test
                </div>
                <div class="col col-md-6">
                    Test
                </div>
            </div>
        </main>
</section>
