<div class="container-fluid shadow-sm param-container">
    <div class="row">
        <div class="col param-header">
            {{data.category}}
        </div>
        <span class="w-100"></span>
        <div class="col-1">
            <i class="fas fa-info-circle"></i>
        </div>
        <div class="col param-info">
            {{data.info}}
        </div>
        <span class="w-100"></span>
        <div class="col-1">
            <i class="fas {{getTypeIcon()}}"></i>
        </div>
        <div class="col">
            {{getTypeInfo()}}
        </div>
    </div>
    <div class="row" *ngIf="data.type == 'geometric'">
        <div class="col-6">
            Q1
        </div>
        <div class="col-6">
            <input type="number" value="{{data.data[2][0]}}" min="{{data.data[2][1]}}" max="{{data.data[2][2]}}">
        </div>
        <span class="w-100"></span>
        <div class="col-6">
            Median
        </div>
        <div class="col-6">
            <input type="number" value="{{data.data[3][0]}}" min="{{data.data[3][1]}}" max="{{data.data[3][2]}}">
        </div>
        <span class="w-100"></span>
        <div class="col-6">
            Q3
        </div>
        <div class="col-6">
            <input type="number" value="{{data.data[4][0]}}" min="{{data.data[4][1]}}" max="{{data.data[4][2]}}">
        </div>
    </div>
    <div class="row" *ngIf="data.type == 'binomial'">
        <div class="col-6">
            Mean
        </div>
        <div class="col-6">
            <input type="number" value="{{data.data[2][0]}}" min="{{data.data[2][1]}}" max="{{data.data[2][2]}}">
        </div>
        <span class="w-100"></span>
        <div class="col-6">
            SD
        </div>
        <div class="col-6">
            <input type="number" value="{{data.data[3][0]}}" min="{{data.data[3][1]}}" max="{{data.data[3][2]}}">
        </div>
    </div>
</div>
