@import 'mixins';
@import 'variables';

.prog {
    margin-top: 5rem;
    margin-bottom: 5rem;

    height: 0.5rem;

    background: $colour-dark;

    &-step {
        @include flex-center;

        font-size: 1.6rem;
    }
}

.circle {
    display: block;
    width: 1.8rem;
    height: 1.8rem;

    border: 2px solid black;
    border-radius: 100%;

    background: $colour-background;

    cursor: pointer;

    &.active {
        width: 2.2rem;
        height: 2.2rem;

        background: $colour-dark;

        & > span {
            top: -3rem;

            color: olivedrab;
            font-weight: 600;
            font-size: 1.45rem;
        }
    }

    & > span {
        position: absolute;
        top: -2.6rem;
        left: 50%;
        transform: translateX(-50%);

        font-size: 1.4rem;
    }
}
