<section class="row justify-content-center">
    <div class="col-11 col-md-6">
        <div class="row rounded-pill justify-content-center prog">
            <div class="col-2 h-100 prog-step">
                <div class="circle" routerLink="./1" routerLinkActive="active">
                    <span>Start</span>
                </div>
            </div>
            <div class="col-2 h-100 prog-step">
                <div class="circle" routerLink="./2" routerLinkActive="active">
                    <span>Map</span>
                </div>
            </div>
            <div class="col-2 h-100 prog-step">
                <div class="circle" routerLink="./3" routerLinkActive="active">
                    <span>Params</span>
                </div>
            </div>
            <div class="col-2 h-100 prog-step">
                <div class="circle" routerLink="./4" routerLinkActive="active">
                    <span>Run</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</section>
