@import 'mixins';
@import 'variables';

@import 'box';

.box {

}

.box-header {
    @include box-header;

}

.box-content {
    @include box-content;
}

.started {
    border: 0.3rem solid $colour-background;

    &:hover {
        background: $colour-background;
    }

    transition: background 0.2s ease;
}
