<div class="global-container">
    <header class="shadow-lg">
        <div class="container h-100">
            <div class="row h-100 navbar">
                <div class="col-4 col-sm-3">
                    neuro-des
                </div>
                <div class="col-auto d-none d-sm-block col-sm">

                </div>
                <div class="col-4 col-sm-3 col-md-2 rounded mr-sm-3 button" routerLink="./about" routerLinkActive="selected">
                    About
                </div>
                <div class="col-4 col-sm-3 col-md-2 rounded button" routerLink="./sim" routerLinkActive="selected">
                    Simulation
                </div>
            </div>
        </div>
    </header>
    <main class="global-main">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>>



