@import 'mixins';
@import 'variables';

@import '../../box';

.box-header {
    @include box-header;
}

.box-content {
    @include box-content;
}

input {
    background: white;
    padding: 0.25rem;

    text-align: center;
}
