<section class="row mt-3 box">
        <header class="col-auto mr-2 h-100 box-header">
            <span>Final</span>
        </header>
        <main class="col d-flex flex-column justify-content-start h-100 p-4 box-content">
            <div class="row">
                <div class="col">
                    Strokes Per Year
                </div>
                <div class="col">
                    20000000
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Start Date
                </div>
                <div class="col">
                    20000000
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Runtime
                </div>
                <div class="col">
                    20000000
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Burn In
                </div>
                <div class="col">
                    20000000
                </div>
            </div>
        </main>
</section>
